@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-1 row-cols-md-2 py-5 align-items-center h-100">
    <div class="col order-md-last text-center">
        <img src="~/img/Racecar.png" alt="" class="img-fluid app-logo" height="35" />

    </div>
    <div class="col text-center">
        <h1 class="display-5 fw-bold mt-3">RacecaR: </h1>
        <h1 class="display-6">A C# and ASP.NET Core Coding Challenge</h1>
        <div class="lead">In this challenge, write a program that takes a user's input (string) and checks to see if the string is the same forwards and backwards.</div>
        <div class="d-flex justify-content-center">
            <ul class="list-unstyled text-start">
                <li>
                    <i class="bi bi-check-square-fill"></i>
                    CSS and Bootstrap Layout
                </li>
                <li>
                    <i class="bi bi-check-square-fill"></i>
                    C# Fundamentals
                </li>
                <li>
                    <i class="bi bi-check-square-fill"></i>
                    C# Loops
                </li>
                <li>
                    <i class="bi bi-check-square-fill"></i>
                    ASP.NET Core MVC
                </li>
                <li>
                    <i class="bi bi-check-square-fill"></i>
                    Boolean Logic
                </li>
            </ul>
        </div>
        <a asp-controller="Racecar" asp-action="Index" class="btn btn-outline-primary btn-lg">Try It Out!</a>
        <div>
            <h4 class="mt-4">Tech Stack</h4>
            <div class="devicons">
                <i class="devicon-csharp-plain colored"></i>
                <i class="devicon-dotnetcore-plain colored"></i>
                <i class="devicon-html5-plain colored"></i>
                <i class="devicon-css3-plain colored"></i>
                <i class="devicon-bootstrap-plain colored"></i>
            </div>
        </div>
    </div>
</div>
